*{
    margin:0px;
    padding:0px;
}
html,body{
    height:100%
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}
/*----------App----------*/
h3{
    text-align: center;
   margin-bottom: 1rem;
   margin-top: -40px;
}
/*--------- Game------*/
.container{
   
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(4,0.3fr);    
    gap: 1em;
    
}
/*-----------card--------------*/
.card{
height: 80px;
width: 70px;
border-radius: 20px;

   
    background-color: rgba(173, 167, 171, 0.982);
    display:flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 2px 2px 2px rgb(222, 218, 218);
    transform:rotateY(180deg);
    animation:1s hideCard linear;
    transition: transform 0.5s;
}
@keyframes hideCard{
    0%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(180deg);
    }
}
.card img{
    transform:scale(0);
    animation:1s hideImg linear;
    transition: transform 0.5s;

}
@keyframes hideImg{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}
.cardactiveactive{
     transform: rotateY(0);
     height: 80px;
     width: 70px;
     border-radius: 20px;

}

.cardactiveactive img{
    transform: scale(1); 
    height: 80px;
width: 70px;
border-radius: 20px;
   
}
.cardactivecorrect {
    background-color: rgb(255, 255, 255);
    height: 80px;
width: 70px;
border-radius: 20px;
}
.cardactivecorrect img{
    transform: scale(1);

    transition: transform 0.5s;
    opacity: 0;
    height: 80px;
width: 70px;
border-radius: 20px;
}
.cardactivewrong {
    height: 80px;
width: 70px;
border-radius: 20px;
}
.cardactivewrong img{
    transform: scale(1);
    height: 80px;
width: 70px;
border-radius: 20px;
}
.end{
    display:flex;
}
.end h3{
    padding-top: 70px;
    padding-left: 50px;
}
.end button{
    
    margin:20px;
    padding:1px 30px;
    border:0px;
    background-color: pink;
    border-radius: 30px;
    height:35px
}